<table class="table table-striped">
  <thead>
  <tr>
    <th><%= 'Cant.' %></th>
    <th><%= 'Producto' %></th>
    <th><%= 'Precio' %></th>
  </tr>
  </thead>
  <tbody>
  <% @account_items.each do |account_item| %>
      <tr>
        <td><%= account_item.quantity %></td>
        <td><%= account_item.product.name %></td>
        <td><%= account_item.price %></td>
      </tr>
  <% end %>
  <tr>
    <td>&nbsp;</td>
    <td>Total</td>
    <td><%= @account.total %></td>
  </tr>
  </tbody>
</table>

<div>
  <table>
    <tbody>
    <%= form_for @account_item, :url => add_account_item_path do |f|  %>
        <td>
          <%= f.text_field :quantity, :class => 'text_field' %>
        </td>
        <td>                </td>
        <td>
          <%= text_field_tag 'product_name' %>
          <%= f.submit '+', :class => 'btn-small btn-primary btn-success' %></td>

        <%= f.hidden_field :product_id, :class => 'text_field', :id => 'product_id' %>
        <%= hidden_field_tag 'account_id', @account.id %>

    <% end %>
    </tbody>
  </table>
</div>
