<div class="brand">
  <h4><%= "Cuenta de la mesa #{ @order.table_id }" %>
    <% unless @order.closed_at.present? %>
        <span>(Activa)</span>
    <% end %>
  </h4>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= 'Folio' %>:</strong></dt>
  <dd><%= @order.id %></dd>
  <dt><strong><%= 'Fecha/Hora Apertura' %>:</strong></dt>
  <dd><%= @order.created_at %></dd>
  <dt><strong><%= 'Fecha/Hora Cierre' %>:</strong></dt>
  <dd><%= @order.closed_at %></dd>
</dl>

<%= render :partial => '/shared/order_info' %>

<div class="form-actions">
  <% if @order_items.present? && @order.closed_at.nil? %>
      <%= link_to 'Cerrar Cuenta',
                  checkout_order_path(@order.id),
                  :data => { :confirm => 'Seguro que quiere cerrar la cuenta?' },
                  :class => 'btn-large btn-info'%>
  <% else %>
      <%= link_to 'Cancelar',
                    cancel_order_path(@order.id),
                    :data => { :confirm => 'Seguro que quiere cancelar la cuenta?' },
                    :class => 'btn-large btn-warning'%>
  <% end %>
</div>


