<div class= "brand">
  <h4><%= 'Estado de las Mesas' %></h4>
</div>
<table class="table table-striped" id="tables-index">
  <thead>
    <tr>
      <th><%= '# Mesa' %></th>
      <th><%= 'Sillas' %></th>
      <th><%= 'Estado' %></th>
      <th><%= 'Total' %></th>
      <th><%= 'Apertura cuenta' %></th>

    </tr>
  </thead>
  <tbody>
    <% @tables.each do |table| %>
      <tr>
        <td><%= link_to table.id, table_path(table) %></td>
        <td><%= table.seats %></td>
        <% if table.status.present? %>
            <td><span class="btn-info btn-primary btn-small"><%=link_to table.status, table_path(table.id) %></span></td>
            <td><%= number_to_currency(table.current_account.total) %></td>
            <td><%= table.current_account.created_at %></td>
        <% else %>
            <td><span class="btn-success btn-primary btn-small">
              <%=link_to new_table_account_path(table.id) do %>
                <span>Disponible</span>
              <% end %>
            </span></td>
            <td>&nbsp</td>
            <td>&nbsp</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

