<table width="200" bgcolor="#48d1cc" border="2" bordercolor="#ffdab9" cellpadding="2" cellspacing="2" align="center">
  <tr>
    <td colspan="4" bgcolor="#90ee90" align="center">
      Estado de la mesa:
    </td>
  </tr>
  <tr>
    <td align="center"><p>Mesa #</p></td>
    <td align="center"><p>Asientos</p></td>
    <td align="center"><p>Estado</p></td>
  </tr>
  <% @tables.each do |table| %>
      <% table_id = table.id %>
    <tr bgcolor="#9acd32">
        <td><p><%= table.name  %></p></td>
        <td><p><%= table.seats%></p></td>
        <td><span><%= link_to table.status, table_path(table_id) %></span></td>
        <td><span><%= link_to('Abrir cuenta', new_table_account_path(table_id)) if table.status == 'Available' %></span></td>
    </tr>
  <% end %>

</table>
<%=	 link_to('Ver cuentas abiertas', accounts_path) %>
