<h4>Mesas</h4>
<table class="table table-striped" id="tables-index">
  <thead>
    <tr>
      <th>Id</th>
      <th>Mesa</th>
      <th>Estado</th>
      <th>Asientos</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @tables.each do |table| %>
      <tr>
        <td><%= table.id %></td>
        <td><%= link_to table.name, table_path(table) %></td>
          <% if table.status.nil? %>
              <td><span class="btn btn-success btn-primary btn-small">
                <%= link_to "Disponible", table_path(table) %></span>
              </td>
          <% else %>
              <td><span class="btn-info btn-primary btn-small">
                <%= link_to table.status, table_path(table) %></span>
              </td>
          <% end %>
        <td><%= table.seats %></td>
        <td><%= "Total de la Orden" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

