<div class="page-header">
  <h1><%= "Mesa # #{@table.name} #{@table.status}" %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= "# Mesa" %>:</strong></dt>
  <dd><%= @table.name %></dd>
  <dt><strong><%= "# Asientos" %>:</strong></dt>
  <dd><%= @table.seats %></dd>
  <dt><strong><%= "Estado" %>:</strong></dt>
  <dd><%= @table.status %></dd>
</dl>

<% if @account %>
    <div>
      <%= render :partial => '/shared/account_info' %>

    </div>

<% else %>

<%end%>
