<div class= "brand">
  <h4><%= "Mesa # #{@table.name} #{@table.status}" %></h4>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= "# Mesa" %>:</strong></dt>
  <dd><%= @table.name %></dd>
  <dt><strong><%= "# Asientos" %>:</strong></dt>
  <dd><%= @table.seats %></dd>
  <dt><strong><%= "Estado" %>:</strong></dt>
  <dd><%= @table.status %></dd>
</dl>

<% if @order %>
    <div>
      <%= render :partial => '/shared/order_info' %>
    </div>

    <div class="form-actions">
      <% if @order_items.present? && @order.closed_at.nil? %>
          <%= link_to 'Cerrar Cuenta',
                    checkout_order_path(@order.id),
                    :data => { :confirm => 'Seguro que quiere cerrar la cuenta?' },
                    :class => 'btn-large btn-info'%>
      <% else %>
            <%= link_to 'Cancelar',
                    cancel_order_path(@order.id),
                    :data => { :confirm => 'Seguro que quiere cancelar la cuenta?' },
                    :class => 'btn-large btn-warning'%>
      <% end %>
    </div>


<%end%>
