<h1>Lista de Productos</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th><%= '# Id' %></th>
    <th><%= 'Nombre' %></th>
    <th><%= 'Descripción' %></th>
    <th><%= 'Precio' %></th>
  </tr>
  </thead>
  <tbody>
    <% @products.each do |p| %>
        <tr>
            <td><%= link_to p.id, product_path(p) %></td>
            <td><%= p.name %></td>
            <td><%= p.description %></td>
            <td><%= p.price %></td>
        </tr>
    <% end %>
  </tbody>
</table>


