<div class="brand">
  <h4><%= "Checkout de la mesa #{ @account.table_id }" %></h4>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= 'Folio' %>:</strong></dt>
  <dd><%= @account.id %></dd>
  <dt><strong><%= 'Fecha/Hora Apertura' %>:</strong></dt>
  <dd><%= @account.created_at %></dd>
</dl>

<%= form_for @account, :url => close_account_path(@account), :method => :post do |f| %>

    <table class="table table-striped account-items">
      <col class="qty-column">
      <col class="name-column">
      <col class="price-column">
      <col class="price-column">

      <thead>
      <tr>
        <th><%= 'Cant.' %></th>
        <th><%= 'Producto' %></th>
        <th><%= 'Precio' %></th>
        <th><%= 'Subtotal' %></th>
      </tr>
      </thead>
      <tbody>

      <% @account.account_items.each do |account_item| %>
          <%= f.fields_for :account_items, account_item do |ai| %>
              <tr>
                <td class="td-numeric"><%= ai.text_field :quantity, :class => 'text_field prod-qty' %></td>
                <td><%= account_item.product.name %></td>
                <td class="td-numeric"><%= ai.text_field :price, :class => 'text_field prod-qty' %></td>
                <td class="td-numeric"><%= account_item.price * account_item.quantity %></td>
              </tr>
          <% end %>

      <% end %>

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td> Descuento: </td>
        <td class="td-numeric"><%= f.text_field :discount, :class => 'text_field prod-qty' %></td>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>

        <td>Total</td>
        <td class="td-numeric"><%= @account.total %></td>
      </tr>
      </tbody>
    </table>

    <div id="checkout">
    <%= f.submit 'Cobrar', :class => 'btn-large btn-primary btn-info prod-submit' %>
    </div>

<% end %>




