<%- model_class = Account -%>
<div class="page-header">
  <h1><%='Cuentas' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th># Cuenta</th>
      <th>Mesa</th>
      <th>Fecha de Apertura de Cuenta</th>
      <th>Total</th>
      <th>Detalle</th>
    </tr>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= link_to account.id, account_path(account) %></td>
        <td><%= account.table_id %></td>
        <td><%= account.created_at %></td>
        <td><%= account.total %></td>
        <td>
          <%= link_to 'Ver Cuenta',
                      account_path(account), :class => 'btn btn-mini btn-success' %>
          <%= link_to 'Cerrar Cuenta',
                      checkout_account_path(account),
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Seguro que quiere cerrar la cuenta?')) },
                      :class => 'btn btn-mini btn-warning' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
