<div class="brand">
  <h4><%= "Cuenta Mesa # #{ @account.table_id }" %></h4>
</div>



<table class="table table-striped account-items">
  <col class="qty-column">
  <col class="name-column">
  <col class="price-column">

  <thead>
  <tr>
    <th><%= 'Cant.' %></th>
    <th><%= 'Producto' %></th>
    <th><%= 'Precio' %></th>
    <th><%=	'Subtotal' %></th>
  </tr>
  </thead>
  <tbody>
  <% @account_items.each do |account_item| %>
      <tr>
        <td class="td-numeric"><%= account_item.quantity %></td>
        <td><%= account_item.product.name %></td>
        <td class="td-numeric"><%= account_item.price %></td>
        <td class="td-numeric"><%= account_item.price * account_item.quantity %></td>
      </tr>
  <% end %>

  <tr>
    <%= form_for @account_item, :url => add_account_item_path do |f| %>
        <%= f.hidden_field :product_id, :class => 'text_field', :id => 'product_id' %>
        <%= hidden_field_tag 'account_id', @account.id %>
        <td class="td-numeric">
          <%= f.text_field :quantity, :class => 'text_field prod-qty' %>
        </td>
        <td>
          <%= text_field_tag 'product_name', nil, :class => 'text_field prod-name' %>
          <%= f.submit '+', :class => 'btn-small btn-primary btn-success prod-submit' %>
        </td>
        <td></td>
        <td></td>
    <% end %>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>Total</td>
    <td class="td-numeric"><%= @account.total %></td>
  </tr>
  </tbody>
</table>

<%= @account.submit 'Guardar', :class => 'btn-small btn-primary btn-success prod-submit' %>

