<div class="page-header">
  <h1><%= "Cuenta de la mesa #{ @account.table_id }" %>
    <% unless @account.closed_at.present? %>
        <span>(Activa)</span>
    <% end %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= 'Folio' %>:</strong></dt>
  <dd><%= @account.id %></dd>
  <dt><strong><%= 'Fecha/Hora Apertura' %>:</strong></dt>
  <dd><%= @account.created_at %></dd>
  <dt><strong><%= 'Fecha/Hora Cierre' %>:</strong></dt>
  <dd><%= @account.closed_at %></dd>
</dl>

<table class="table table-striped">
  <thead>
  <tr>
    <th><%= 'Id' %></th>
    <th><%= 'Producto' %></th>
    <th><%= 'Descripcion' %></th>
    <th><%= 'Cantidad' %></th>
  </tr>
  </thead>
  <tbody>
  <% @account_items.each do |account_item| %>
      <tr>
        <td><%= account_item.id %></td>
        <td><%= account_item.product.name %></td>
        <td><%= account_item.product.description %></td>
        <td><%= account_item.quantity %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div>
  <%= form_for @account_item, :url => 'add_account_item' do |f| %>
      <%= f.label :quantity, 'Cantidad', :class => 'control-label' %>
      <%= f.text_field :quantity, :class => 'text_field' %>
      <%= f.label :producto, 'Producto', :class => 'control-label' %>
      <%= text_field_tag 'product_name' %>
      <%= f.hidden_field :product_id, :class => 'text_field', :id => 'product_id' %>

      <%= f.submit '+', :class => 'btn btn-primary' %>
<% end %>
</div>



<div class="form-actions">
  <%= link_to 'Cerrar Cuenta',
              '#',
              :data => {:confirm => 'Quiere cerrar la cuenta?'},
              :class => 'btn btn-danger' %>
</div>
