<div class="page-header">
  <h1><%= "Cuenta de la mesa #{ @account.table_id }" %>
    <% unless @account.closed_at.present? %>
        <span>(Activa)</span>
    <% end %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= 'Folio' %>:</strong></dt>
  <dd><%= @account.id %></dd>
  <dt><strong><%= 'Fecha/Hora Apertura' %>:</strong></dt>
  <dd><%= @account.created_at %></dd>
  <dt><strong><%= 'Fecha/Hora Cierre' %>:</strong></dt>
  <dd><%= @account.closed_at %></dd>
</dl>

<%= render :partial => '/shared/account_info' %>

<div>
  <table>
  <tbody>
    <%= form_for @account_item, :url => add_account_item_path do |f|  %>
        <td>
          <%= f.text_field :quantity, :class => 'text_field' %>
        </td>
        <td>                </td>
        <td>
          <%= text_field_tag 'product_name' %>
          <%= f.submit '+', :class => 'btn-small btn-primary btn-success' %></td>

            <%= f.hidden_field :product_id, :class => 'text_field', :id => 'product_id' %>
            <%= hidden_field_tag 'account_id', @account.id %>

    <% end %>
  </tbody>
  </table>
</div>



<div class="form-actions">
  <%= link_to 'Cerrar Cuenta',
              '#',
              :data => {:confirm => 'Quiere cerrar la cuenta?'},
              :class => 'btn-large btn-success' %>
</div>
